* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background:
        linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url('/Groep\ Ace\ Quiz\ Project/img/JaguarWF.jpg') no-repeat right center fixed;
    background-size: cover;
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 80px;

}

.app {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(6px);
    width: 90%;
    max-width: 600px;
    border-radius: 16px;
    padding: 40px 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.app:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 45px rgba(0, 0, 0, 0.5);
}


.app h1 {
    font-size: 28px;
    color: #3b2f2f;
    /* dark earthy brown */
    font-weight: 700;
    border-bottom: 2px solid #a37a2c;
    /* golden accent */
    padding-bottom: 15px;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #2f2b1f;
    font-weight: 600;
    margin-bottom: 15px;
}

.btn {
    background: rgba(255, 255, 255, 0.95);
    color: #1f1f1f;
    font-weight: 500;
    width: 100%;
    border: 1px solid #cbb26a;
    /* golden outline */
    padding: 12px 15px;
    margin: 8px 0;
    text-align: left;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.interactive-buttons {
    position: fixed;
    /* Blijft op dezelfde plek bij scrollen. Is fijner */
    top: 20px;
    left: 20px;
    z-index: 1000;
    /* zorgt dat de knop boven andere elementen ligt */
}

.interactive-buttons button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 12px;
    margin-bottom: 10px;
    width: 130px;
    /* vaste breedte */
    background-color: skyblue;
    color: black;
    border: solid 2px black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    justify-content: center;
}

.button-home {
    color: black;
    text-decoration: none;
}

.interactive-buttons button:hover {
    background-color: #0056b3;
}